body { background-color: pink; 
    color: white;
    font-family: Arial, Verdana, sans-serif;
    margin: 20px; }
h1 { color: yellow; text-transform: uppercase;}
h2 { color: maroon}
p { font-size: .90em;
	text-indent: 0.5em;}
li{ color:cornsilk}


.hero {
    background-image: url('bananaloaf.jpg'); 
    width: 100%; 
    height: 300px; 
    background-size: cover; 
    background-position: center; 
    box-shadow: 5px 5px 5px #1E1E1E;; 
    border: 3px ridge #330000;
    border-radius: 15px; 
  }